<div class="main-container">
    <span class="text" [routerLink]="['/attendance']" routerLinkActive="router-link-active"><i class="fa-solid fa-door-open"></i>Attendance</span>
    <span class="text" [routerLink]="['/materials']" routerLinkActive="router-link-active"><i class="fa-solid fa-toilet-paper"></i>Materials</span>
    <span class="text" [routerLink]="['/report']" routerLinkActive="router-link-active"><i class="fa-regular fa-folder-open"></i>Reports <b>534</b></span>
    <span class="text admission" [routerLink]="['/admission']" routerLinkActive="router-link-active"><i class="fa-solid fa-child"></i>Admission <b>179</b></span>
</div>
